* {
  margin: 0;
  padding: 0;
}

*::after,
*::before,
* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  font-weight: 400;
}

h1 {
  font-size: 6rem;
  line-height: 1.2;
  font-weight: 600;
}

h2 {
  font-size: 4rem;
  line-height: 1.2;
}

h3 {
  font-size: 3.2rem;
  line-height: 1.2;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.2;
}

h5 {
  font-size: 2rem;
  line-height: 1.2;
}

h6 {
  font-size: 1.8rem;
  line-height: 1.2;
}

a {
  text-decoration: none;
}
