.btn {
  background-color: transparent;
  border: none;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;

  &--md {
    font-size: 1.6rem;
    line-height: 1.6;
    padding: 1.2rem 2.4rem;
    border-radius: 0.6rem;
  }

  &--lg {
    font-size: 1.8rem;
    line-height: 1.6;
    padding: 1.6rem 3.2rem;
    border-radius: 1rem;
  }

  &--white {
    width: 100%;
    background-color: white;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #f9f2ff;
      transform: translateY(-0.3rem);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    &:active {
      background-color: #fff;
    }
  }

  &--primary {
    background-color: #9f34f6;
    color: #fff;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #9933cc;
      transform: translateY(-0.3rem);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
  }

  &--secondary {
    background-color: #fff;
    border: 1px solid #9f34f6;
    color: #9f34f6;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #9933cc;
      color: #fff;
      transform: translateY(-0.3rem);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
  }

  &--ghost {
    background-color: rgba(17, 17, 17, 0.4);
    color: #fff;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #111;
    }
  }

  &--tertiary {
    background-color: white;
    color: #737373;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgba(159, 52, 246, 0.207);
    }

    &:active {
      color: #fff;
      background-color: rgba(159, 52, 246);
    }
  }
}
