@media (min-width: 1000px) and (max-width: 1500px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 5rem;
    color: red;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.2;
    color: #333;
  }

  h5 {
    font-size: 2rem;
  }

  h6 {
    font-size: 1.8rem;
  }

  .hero__data {
    padding: 6rem 0rem;
    grid-area: 3 / 1 / 4 / 3;
    align-items: flex-start;
  }

  .hero__data-skill {
    gap: 2rem;
  }

  .hero__data-set {
    gap: 2rem;
  }

  .mywork {
    h2 {
      font-size: 15rem;
    }
  }
}
