@media (max-width: 1900px) {
  .header {
    padding: 2rem 14rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  .hero {
    padding: 14rem;

    &__content {
      column-gap: 12rem;
      row-gap: 16rem;
      margin-top: 4rem;
    }

    &__left {
      gap: 4rem;

      &-text {
        font-size: 1.6rem;
      }
    }
  }

  .article {
    height: max-content;
    padding: 8rem;
    grid-template-columns: 1fr;

    &__card {
      height: 100%;

      &-img {
        // height: 40%;
      }
    }
  }

  .work {
    padding: 12rem 4rem;
    height: 100vh;
  }

  .footer {
    height: 80vh;
  }

  .footer__banner {
    transform: translate(-50%, -45%);
  }

  .article {
    padding: 12rem;
    &__grid {
      gap: 4rem;
    }
  }
}
