* {
  margin: 0;
  padding: 0;
}

*::after,
*::before,
* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  font-weight: 400;
}

p {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #333;
}

h1 {
  font-size: 6rem;
  line-height: 1.2;
  font-weight: 600;
}

h2 {
  font-size: 4rem;
  line-height: 1.2;
}

h3 {
  font-size: 3.2rem;
  line-height: 1.2;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.2;
}

h5 {
  font-size: 2rem;
  line-height: 1.2;
}

h6 {
  font-size: 1.8rem;
  line-height: 1.2;
}

a {
  text-decoration: none;
  width: fit-content;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 8rem;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header__logo {
  width: 12rem;
}
.header__list {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.hero {
  height: 100vh;
  padding: 14rem 8rem;
  display: flex;
}
.hero__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
  align-items: center;
}
.hero__content a {
  justify-self: center;
  grid-area: 2/1/3/3;
}
.hero__left {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 80%;
}
.hero__left-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero__left-text {
  font-size: 2rem;
  color: #737373;
  font-weight: 300;
  line-height: 1.8;
}
.hero__left a {
  color: #fff;
  width: fit-content;
}
.hero__right {
  position: relative;
}
.hero__right:hover .hero_secondary-img {
  opacity: 1;
}
.hero__right:hover .hero_secondary-img--1, .hero__right:hover .hero_secondary-img--4 {
  transform: scale(1.05) translateY(2rem);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.hero__right:hover .hero_secondary-img--5 {
  transform: scale(1.05) translateX(-4rem);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.hero__right:hover .hero_secondary-img--2 {
  transform: scale(1.05) translateX(4rem);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.hero__right:hover .hero_secondary-img--3, .hero__right:hover .hero_secondary-img--6 {
  transform: scale(1.05) translateY(-2rem);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.hero__right:hover .hero_primary-img {
  opacity: 1;
}
.hero__grid-7 {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr 1fr 3fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
}
.hero__primary-img {
  transition: all 0.2s;
  z-index: -1;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-area: 3/8/12/15;
  width: 100%;
  opacity: 0.9;
}
.hero__secondary-img {
  z-index: -1;
  width: 100%;
  border-radius: 0.5rem;
  opacity: 0.8;
  transition: all 0.3s ease-out;
  animation-name: scaleUp;
  animation-duration: 3.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
.hero__secondary-img--1 {
  grid-area: 1/4/4/10;
  object-fit: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
  animation-name: moveFromRight;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.hero__secondary-img--2 {
  grid-area: 6/1/9/7;
  object-fit: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
  animation-name: moveFromRight;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.hero__secondary-img--3 {
  grid-area: 11/4/14/10;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  animation-name: moveFromRight;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.hero__secondary-img--4 {
  grid-area: 1/13/4/19;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  animation-name: moveFromLeft;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.hero__secondary-img--5 {
  grid-area: 6/16/9/22;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  animation-name: moveFromLeft;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.hero__secondary-img--6 {
  grid-area: 11/13/14/19;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  animation-name: moveFromLeft;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.details {
  padding: 14rem 8rem;
  background-color: rgba(228, 228, 228, 0.1333333333);
  height: max-content;
  display: grid;
  row-gap: 4rem;
  column-gap: 8rem;
  grid-template-columns: 1fr 1fr;
}
.details__experience {
  display: grid;
  padding: 8rem 0rem;
  width: max-content;
}
.details__job {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.details__job::before {
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  position: absolute;
  background-color: #9f34f6;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.details__job-year {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 12rem;
  padding-right: 6rem;
}
.details__job-year-last {
  margin-bottom: 0;
}
.details__job-info {
  border-left: 2px dotted rgba(17, 17, 17, 0.2);
  width: 100%;
  padding-left: 6rem;
  font-weight: 300;
}
.details__title {
  margin-bottom: 1rem;
}
.details__cert {
  display: flex;
  flex-direction: column;
}
.details__list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 6rem 0rem;
}
.details__certificate {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.details__certificate-img {
  width: 4rem;
  border-radius: 50%;
}
.details__tools-list {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  gap: 4rem;
}
.details__tools-list :last-child {
  border: 0px solid;
}
.details__tools-grp {
  display: flex;
  gap: 2rem;
}
.details__tools-box {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(228, 228, 228);
}
.details__tools-box img {
  width: 4rem;
  object-fit: cover;
}
.details__title {
  margin-bottom: 1rem;
}
.details__article {
  width: 100%;
}
.details__article-card {
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  margin-top: 6rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.details__article-card a {
  width: 100%;
}
.details__article-img {
  object-fit: cover;
}
.details__article-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.details__article-title {
  line-height: 1.6;
}
.details__article-bottom {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.work {
  padding: 14rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  text-align: center;
  height: 80vh;
  margin: 0 10rem;
}
.work__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}
.work__card {
  padding: 4rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.work__card:nth-child(1) {
  background-color: #fc8eaa;
  color: #653944;
}
.work__card:nth-child(2) {
  color: #014a4d;
  background-color: #02bac0;
}
.work__card:nth-child(3) {
  background-color: #fcab00;
  color: #7e5600;
  display: flex;
  justify-content: center;
}
.work__card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.work__card-title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 3.2rem;
}
.work__card-description {
  font-size: 1.8em;
  text-wrap: balance;
  margin-bottom: 4rem;
}
.work__card-link {
  width: 100%;
}

.footer {
  padding: 12rem;
  margin: 0 auto;
  text-align: center;
  background-color: #121212;
  color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}
.footer__text {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: #fff;
}
.footer__headline {
  color: rgba(255, 255, 255, 0.4);
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.footer__link {
  color: #121212;
}
.footer button {
  width: fit-content;
  margin-bottom: 8rem;
}
.footer__banner {
  font-size: 32rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2rem;
  color: rgb(255, 255, 255);
  opacity: 0.05;
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -65%);
  line-height: 1;
  z-index: 1;
}

.case {
  padding: 12rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 3.2rem;
}
.case a {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  color: #737373;
}
.case_report {
  width: 100%;
  border-radius: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn {
  background-color: transparent;
  border: none;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
.btn--md {
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 1.2rem 2.4rem;
  border-radius: 0.6rem;
}
.btn--lg {
  font-size: 1.8rem;
  line-height: 1.6;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
}
.btn--white {
  width: 100%;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.btn--white:hover {
  background-color: #f9f2ff;
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn--white:active {
  background-color: #fff;
}
.btn--primary {
  background-color: #9f34f6;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.btn--primary:hover {
  background-color: #9933cc;
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn--secondary {
  background-color: #fff;
  border: 1px solid #9f34f6;
  color: #9f34f6;
  transition: all 0.3s ease-in-out;
}
.btn--secondary:hover {
  background-color: #9933cc;
  color: #fff;
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn--ghost {
  background-color: rgba(17, 17, 17, 0.4);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.btn--ghost:hover {
  background-color: #111;
}
.btn--tertiary {
  background-color: white;
  color: #737373;
  transition: all 0.3s ease-in-out;
}
.btn--tertiary:hover {
  background-color: rgba(159, 52, 246, 0.207);
}
.btn--tertiary:active {
  color: #fff;
  background-color: rgb(159, 52, 246);
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  50% {
    opacity: 0.5;
    transform: translateX(1rem);
  }
  100% {
    opacity: 0.8;
    transform: translateX(0rem);
  }
}
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 0.8;
    transform: translateX(0rem);
  }
}
@media (max-width: 1900px) {
  .header {
    padding: 2rem 8rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.8rem;
  }
  .hero__left {
    gap: 4rem;
  }
  .hero__left-text {
    font-size: 1.6rem;
  }
  .article {
    height: max-content;
    padding: 8rem;
    grid-template-columns: 1fr;
  }
  .article__card {
    height: 100%;
  }
  .work {
    height: max-content;
  }
  .footer {
    height: 80vh;
  }
  .footer__banner {
    transform: translate(-50%, -45%);
  }
}

/*# sourceMappingURL=main.css.map */
